<form class="formCard" action="/myGoals" method="POST">
<div class="logInForm">
  <h2 class="logH">Sign up for <em class="footer-logo">My</em>Bucket List</h2>
  <label class="input__label" for="name">First name</label>
  <input class="input__field" type="text" name="name">

  <label class="input__label" for="email">Email address</label>
  <input class="input__field" type="text" name="email">

  <label class="input__label" for="password">Password</label>
  <input class="input__field" type="password" name="password">

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div clasds="input__row">
    <label class="input__label" for="tou">Already a My Bucket List member? <a href="/auth/login">Log in here</a> </h4>
  </div>
  <button class="btn btn--cta">Sign up</button>
  </div>
</form>






