<footer class="global-footer">
  <div class="content-wrapper"> 
    <ul class="footer-nav bare-list">
      <li class="logo-link logo"><a href='/login'><em class="footer-logo" >My</em><span class="logo">Bucket List</span</a></li>
    </ul>
    <p>&copy; jolanet 2019</p>
  </div>
</footer>