<div class="global-header">
  <div class="content-wrapper">
    <nav class="nav">
      <label class="logo" for="search"><em class="footer-logo">My</em>Bucket List</label>
      <ul class="global-nav nav_bar bare-list not_member">
        <li><a href="/myGoals">My goals</a></li>
        <li><a href="/create_goal">Create</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/logout">Log out</a></li>

      </ul>
    </nav>
  </div>
</div>