<header>
  <nav>
    <form action="/members/login" method="POST">
      <label for="search">My Bucket List</label>
      <input type="text" name="search" placeholder="E.g. swimming with dolphins">
      <button>SEARCH</button>
    </form>
    <ul class="nav_bar not_member">
      <li><a href="auth/log_in.hbs">Log in</a></li>
      <li><a href="/sign_up.hbs">Sign up</a></li>
      <li><a href="#">Inspiration</a></li>
    </ul>
  </nav>
</header>