<div class="global-header">
  <div class="content-wrapper">
    <form action="/members/login" method="POST">
      <label class="logo" for="search"><em class="footer-logo">My</em>Bucket List</label>
      <button class="but-icon"><svg class="icon" height="18" viewbox="0 0 24 24" width="18" role="presentation">
        <use xlink:href="#search"></use>
      </svg></button>
    </form>
    <nav>
      <ul class="nav_bar bare-list not_member">
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="#">Inspiration</a></li>
      </ul>
    </nav>
  </div>
</div>