{{>nav_bar_member}}

<form class="form--inpage" action="/create" method="post" enctype="multipart/form-data">
  <div class="alert--wide">
    <h2 class="logo" for="search"><em class="footer-logo">My</em>Bucket List Goal</h2>
    <p>Please add an image.</p>
  </div>

  <div class="input-group input-group--horizontal">
    <input id="goal-image" class="input-group__field" type="file" name="image" />
  </div>


  <div <class="prompt">
    <button class="btn btn--cta btn--primary prompt__confirm" type="submit">Create Goal</button>

  </div>

</form>

{{footer}}